body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Saira', sans-serif;
}

p, div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    min-height: 75px;
    max-height: 76px;
    background: url("../img/logo.svg") #FFB800 no-repeat center;
    background-size: 6%;
    filter: drop-shadow(4px 0px 4px hsl(0,0%,60%));
}

.sairaRegular18 {
    font-size: 18px;
    font-weight: 400;
}

.sairaLight14 {
    font-size: 14px;
    font-weight: 300;
    color: rgba(0,0,0, .54);
}

.onlineTime {
    margin-top: 4px;
    margin-left: auto;
}

.changeInfo {
    max-width: 176px;
    min-width: 176px;
    max-height: 23px;
    min-height: 23px;
    -webkit-border-radius: 98px;
    -moz-border-radius: 98px;
    border-radius: 98px;
    background: #F17373;
}

.globalTime {
    min-width: 5%;
    max-width: 5%;
    background: #FF6200;
    color: #FFFFFF;
    overflow:hidden;
}

.account {
    margin-left: auto;
    min-width: 20%;
    max-width: 20%;
    background: #FFA528;
}

.containerForProfile {
    display: flex;
    overflow:hidden;
}

.containerForAvatar {
    max-width: 96px;
    min-width: 96px;
    max-height: 96px;
    min-height: 96px;
}

.avatar {
    position: relative;
    max-width: 60px;
    min-width: 60px;
    max-height: 60px;
    min-height: 60px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    background: #EED8D8;
}

.avatarProfile {
    background: #744343;
}

.avatarProfileTabs {
    background: #EED8D8;
}

.counter {
    color: #FFFFFF;
    z-index: 2;
    top: 0;
    right: 0;
    position: absolute;
    max-width: 26px;
    min-width: 30px;
    max-height: 26px;
    min-height: 30px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: #FF0000;
}

.messageTab {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.containerForInfo {
    max-width: 176px;
    min-width: 176px;
    margin: auto 0;
}

.containerName {
    max-width: 176px;
    min-width: 176px;
    display: inline-flex;
}

.name {
    color: #000000;
}

.chatBox {
    display: flex;
}

.chatTabs {
    min-width: 25%;
    max-width: 25%;
    background: #FFF;
    height: 100vh;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.chatTabs .alignLeft.active {
    background: #FFF6C6!important;
}

.chatTabs .alignLeft:hover {
    background: rgba(255,246,198, .5);
}

.chat {
    min-width: 50%;
    max-width: 50%;
    height: 100vh;
    box-shadow: inset 0px 0px 5px hsl(0,0%,80%);
    background: linear-gradient(to bottom, #FFF, #FFE43C);
}

.members {
    min-width: 25%;
    max-width: 25%;
    background: #FFF;
    position: relative;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignLeft {
    display: flex;
    justify-content: left;
    align-items: center;
}

.marginName {
    margin-left: 5px;
}

.offline {
    color: #FF8000;
}

.membersHeader {
    display: inline-flex;
    position: absolute;
    top: 0;
    z-index: 2;
    color: #000000;
    height: 25px;
    width: 100%;
    background-color: #C4C4C4;
}

.chatName {
    position: absolute;
    margin: auto;
}

.onlineMembers {
    right: 0;
    position: absolute;
    margin-right: 5vh;
    color: rgba(0,0,0, .54);
}

.chatMembers {
    background: #FFF;
    height: 90vh;
    margin-top: 25px;
}
